.logo {
	position: absolute;
	font-size: 16px;
	padding: 20px;
}

.logo img {
    width: 11.5em;
    height: 2.1em;
}


.home-wrapper {
	margin: 100px 50px;
	padding-left: 30px;
	font-family: 'Playfair Display', serif;
	display:flex;
	flex-direction:column;
}

.home-wrapper h1{
	font-size: 96px;
	font-weight: 400;
	margin-bottom: 50px;
}

.intro {
	display:inline-flex;
	margin-bottom: 70px;

	font-size: 12px;
	line-height: 1.6;
	letter-spacing: .9px;
	font-family: 'Quicksand', sans-serif;
}

.intro p {
	width: 50%;
	padding-right: 40px;
}

.links {
	display: inline-flex;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	/*font-family: 'Lato', sans-serif;*/
}

.links a {
	font-size: 14px;
	letter-spacing: .4px;
	font-weight: 100px;
	color: teal;
	text-decoration: none;
	padding-right: 20px;
}

.links a:hover {
	text-decoration: underline;
}

.placeholder {
	flex-shrink: 4;
}