
.category_header {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	border: 1px solid grey;
}

.category_header button {
	
}

.category_header ul {
	display: flex;

}

.category_header li {

}





.gallery_wrapper {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	/*margin-top: 20px;*/
}

.display_item {
	position:relative;
	margin: 7px;
	border: 2px solid black;
	transition: all 0.2s;
	overflow:hidden;
}

.display_item:hover {
	border: 2px solid goldenrod;
}

.display_item:hover .display_title {
	bottom: 50%;
}






.info_container {
	position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3% 3.3%;
    color: #999;
    font-size: 16px;
    background: rgba(220,220,220, .2);
}
.display_item:hover .info_container {
	background-color: #151515;
    background-color: rgba(0,0,0, .5);
}

.display_info {
	display: block;
    position: absolute;
    bottom: -100px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.display_info b {
    font-size: 18px;
}

.display_info i {
    font-size: 12px;
}

.display_item:hover .display_info {
    bottom: 20%;
}

