/*.gallery {
	margin: 100px;
}*/

.category_header {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	border: 2px solid grey;
}

.gallery_wrapper {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px outset #AAA;
	overflow: scroll;
}

.display_image {
	border: 3px inset black;
	margin: 5px;
	transition: all 1s;
}
.display_image:hover {
	transform: scale(1.1);
}

.display_title {
	display: none !important;
}