.footer_wrapper {
	display: flex;
	background-color: #aab7b7;
	border-top: 1px solid #939e9e;
}

.footer {
	font-size: 12px;
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: #365b5b;
}