body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
	position: absolute;
	font-size: 16px;
	padding: 20px;
}

.page {
	height: 100vh;
	overflow: hidden;
	background-color: #aab7b7;
}